@model V3.Models.Movie

<h1>This Movie is coming Live by November</h1>
<p>Name: @Model.Name</p>
<p>Genre: @Model.Genre</p>
<p>No of times left to watch:@Model.NumberInStock</p>
<p>Release date: @Model.ReleaseDate</p>
<p>Date added: @Model.DateAdded</p>
<button>Click to Watch movie</button>
 